*{
    margin:0;
    padding:0;
}
header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}
.nav
{
    display:flex;
    align-items:center;
    background-color:#eeeeee;
    justify-content:space-between;
    box-shadow:0px 2px 2px 2px rgb(204,203,203);
    padding:10px;
}
.nav img{
    width:100px;
    height:100px;
    margin-left:22px;
}
.main1
{
    display:flex;
    justify-content:space-around;
}
.mainText{
    margin-top:144px;
}
.mainText button{
    background-color:#04f7cf;
    color:#fff;
    width:140px;
    height:40px;
    border:none;
    margin-top:24px;
}
.main1 img{
    margin-top:160px;
    width:200px;
    height:400px;
}
.content
{
    margin:50px;
    padding-bottom:20px;
}
.content h5,h1{
    text-align:center;
}
.content p{
    text-align:center;
    line-height:30px;
}
a{
    text-decoration: none;
}
.sidenav
{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
}
.sidenav a{
    padding:8px 8px 8px 8px;
    text-decoration: none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
}
.sidenav a:hover{
    color:#f1f1f1;
}
.sidenav .closebtn
{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}
@media screen and (max-height:450px)
{
    .sidenav{padding-top:15px;}
    .sidenav a{font-size:18px;}
}
.container
{
    max-width:1000px;
    width:100%;
    margin:auto;
}
.cart-container
{
    margin-top:100px !important;
}
.back-homepage
{
    display:flex;
    align-items: center;
}
.back-homepage i{
    font-size:24px;
    color:dimgray;
}
.back-homepage span{
    font-size:1rem;
    font-weight:600;
    color:dimgray
}
.cart-s-title
{
    font-size:3.5rem;
    text-transform:uppercase;
    margin:1.5rem 0;
}
.cart-box
{
    display:grid;
    grid-template-columns: 80% 20%;
    gap:10px;
}
.menu
{
    display:flex;
    align-items: center;
    gap:1rem;
}
#cart-icon
{
    position:relative;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}
#cart-count
{
    position:absolute;
    right:-10px;
    bottom:0;
    background-color: deeppink;
    color:#fff;
    width:10px;
    font-size:12px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding:20px;
    margin:20px;
    margin-top:120px;
}
.product-img
{
    width:350px;
    height:350px;
    gap:20px;
}
.product-title
{
    font-size:1.25rem;
    font-weight:600;
    color:black;
    text-transform: uppercase;
    margin:0.8rem;
}
.product-price
{
    font-size:1.35rem;
    font-weight:600;
    margin:20px;
    color:#007bff;
}
.add-to-cart
{
    background:#007bff;
    color:#fff;
    font-weight:600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding:10px;
    margin:0.6rem;
    cursor: pointer;
}
#cartItemS3
{
    display:grid;
    row-gap:1rem;
}
.cart-item
{
    display:grid;
    grid-template-columns: .5fr 1fr .5fr .5fr;
    align-items: center;
    gap:15px;
    border-bottom:1px solid #dbdbdb;
    padding-bottom:10px;
}
.cart-item img{
    width:80px;
    height:100px;
    object-fit:cover;
    object-position:center;
}
.cart-titte-price
{
    display:grid;
    gap:8px;
}
.cart-item-title
{
    font-size:1.3rem;
    font-weight:600;
}
.cart-item-price
{
    font-size:1.6rem;
    font-weight:600;
}
.quantity-controls
{
    display:flex;
    align-items: center;
    gap:10px;
    margin-right:1rem;
}
.quantity-controls button{
    width:32px;
    height:32px;
    border:1.5px solid #007bff;
    background: transparent;
    display:flex;
    align-items: center;
    justify-content:center ;
    cursor:pointer;
    transition: all .3s ease;
    font-weight:500;
    color:#4a5568;
}
.quantity-controls i{
    color: #000;
    font-size:17px;
}
.quantity-controls button:hover{
    background:#f7fafc;
    border-color:#cbd5e0;
}
.quantity-controls input{
    width:40px;
    text-align: center;
    border:none;
    font-weight:600;
    color:#4a5568;
    background:transparent;
    font-size:20px;
}
.remove-from-cart i
{
    color:#000;
    font-size:20px;
    cursor:pointer;
}
.cart-title-price{
    display:flex;
    flex-direction:column;
}
#cartTotal
{
    font-size:20px;
    font-weight:600;
    margin-bottom:20px;
}
.checkout-btn
{
    margin-top:20px;
    background:green;
    color:#f0f8ff;
    text-align:center;
    padding:5px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
    max-width:100px;
}
button
{
    background-color:#28a745;
    color:white;
    padding:10px;
    cursor:pointer;
    font-size:10px;
}
.section
{
    margin:20px;
    padding-top:20px;
    display:flex;
    justify-content:center;
    gap:10%;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.section img{
    width:200px;
    height:100px;
} 
.part svg{
    width:30px;
    height:30px;
    gap:20px;
}
.footer
{
   margin:5px;
   justify-content:center;
   display:flex;
   gap:15%;
}
#searchInput {
    width:400px;
    padding:20px;
    border-radius:4px;
    border:1px solid #ddd;
    box-sizing:border-box;
    font-size:10px;
}
.quantity-controls input{
    width:35px;
    padding:10px;
}