*
{
margin:0;
padding:0;
font-family: 'fantasy';
}
.nav
{
    display:flex;
    align-items:center;
    background-color:#eeeeee;
    justify-content:space-between;
    box-shadow:0px 2px 2px 2px rgb(204,203,203);
    padding-right:25%;
}
.nav img
{
    margin-left:22px;
    width:100px;
    height:100px;
}
.sidenav
{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
}
.sidenav a{
    padding:8px 8px 8px 8px;
    text-decoration: none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
}
.sidenav a:hover{
    color:#f1f1f1;
}
.sidenav .closebtn
{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}
@media screen and (max-height:450px)
{
    .sidenav{padding-top:15px;}
    .sidenav a{font-size:18px;}
}
.main
{
    margin:50px;
    padding:25px;
    display:flex;
    margin-bottom:10%;
}
.about{
    float:left;
    width:50%;
    padding:10px;
    height:300px;
}
.main::after{
    content:"";
    display:table;
    clear:both;
}
.about img{
    height:250px;
    width:300px;
    padding-right:70px;
}
.section
{
    margin:20px;
    padding-top:20px;
    display:flex;
    justify-content:center;
    gap:10%;
    font-size:20px;
    padding-top:10px;
    padding-bottom:20px;
}
.section img{
    width:200px;
    height:120px;
} 
.part svg{
    width:30px;
    height:30px;
    gap:20px;
}
.footer
{
   margin:20px;
   justify-content:center;
   display:flex;
   gap:15%;
}
.footer ul
{
    display:flex;
    gap:20px;
    font-size:22px;
}
.search-bar
{
    max-width:100%;
    margin-bottom:-30px;
}
.search-bar input{
    width:100%;
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}