*
{
margin:0;
padding:0;
font-family: 'fantasy';
}
.nav
{
    display:flex;
    align-items:center;
    background-color:#eeeeee;
    justify-content:space-between;
    box-shadow:0px 2px 2px 2px rgb(204,203,203);
    padding-right:25%;
}
.nav img
{
    margin-left:22px;
    width:100px;
    height:100px;
}
.sidenav
{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
}
.sidenav a{
    padding:8px 8px 8px 8px;
    text-decoration: none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
}
.sidenav a:hover{
    color:#f1f1f1;
}
.sidenav .closebtn
{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}
@media screen and (max-height:450px)
{
    .sidenav{padding-top:15px;}
    .sidenav a{font-size:18px;}
}
#btn_container
{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    top:10px;
    right:10px;
    z-index:9;
    position:absolute;
}
.cart_btn .cart_icon
{
    color: #eceeec;
    padding:10px;
    border:none;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    font-weight:bold;
    cursor:pointer;
    transition:background-color .3s ease,box-shadow .3s ease;
    -webkit-transition:background-color .3s ease,box-shadow .3s ease;
    -moz-transition:background-color .3s ease,box-shadow .3s ease;
    -ms-transition:background-color .3s ease,box-shadow .3s ease;
    -o-transition:background-color .3s ease,box-shadow .3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.cart_btn .cart_icon:hover{
    background-color:#04f7cf;
    color:#333;
    box-shadow:0 8px 15px rgba(0,0,0,0.4);
}
.cart_btn .cart_icon svg{
    font-size:18px;
}
.cart_btn .cart_icon span{
    background-color:#ff4242;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    width:100%;
    font-size:13px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight:600;
    right:-10px;
    top:-10px;
}
.wrapper
{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    justify-content: center;
    align-items:center;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding:30px;
    margin:20px;
    margin-top:120px;
    color:black;
    border-radius:31px;
}
.product{
    -webkit-border-radius:15px;
    -ms-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    transition:background-color .3s ease,box-shadow .3s ease;
    -webkit-transition:background-color .3s ease,box-shadow .3s ease;
    -moz-transition:background-color .3s ease,box-shadow .3s ease;
    -ms-transition:background-color .3s ease,box-shadow .3s ease;
    -o-transition:background-color .3s ease,box-shadow .3s ease;
    border:2px solid #818181;
    
}
.product-img
{
    width:350px;
    height:350px;
    gap:20px;
    margin-top:10%;
    margin-bottom:20px;
    padding-left:10px;
    padding-right:10px;
}
.product-title
{
    font-size:1.25rem;
    font-weight:600;
    color:black;
    text-transform: uppercase;
    margin:0.8rem;
}
.product-price
{
    font-size:1.35rem;
    font-weight:600;
    margin:20px;
    color:chartreuse;
    padding-left:25%;
}
.add-to-cart
{
    background:#007bff;
    color:#fff;
    font-weight:600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding:10px;
    margin:0.6rem;
    cursor: pointer;
}
.cart_sidebar
{
    width:300px;
    height:75%;
    position:fixed;
    top:11%;
    right:-350px;
    background:rgba(255,255,255,.3);
    box-shadow:-4px 0 15px rgba(0,0,0,0.2);
    transition: right .4s ease-in-out,background-color .3s ease;
    -webkit-transition: right .4s ease-in-out,background-color .4s ease;
    -moz-transition:right .4s ease-in-out,background-color .4s ease;
    -ms-transition:right .4s ease-in-out,background-color .4s ease;
    -o-transition:right .4s ease-in-out,background-color .4s ease;
    z-index:1000;
    padding:20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    backdrop-filter:blur(10px);
}
.cart_sidebar.open
{
    right:0;
}
.sidebar_close
{
    position:absolute;
    right:20px;
    top:10ps;
    cursor:pointer;
    font-size:1.5rem;
    color:#ecececec;
    transition: transform .3s ease;
    -webkit-transition:transform .3s ease;
    -moz-transition:transform .3s ease;
    -moz-transition:transform .3s ease;
    -o-transition: transform .3s ease;
}
.sidebar_close:hover{
    transform: rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.cart_menu{
    overflow-y:scroll;
    max-width:73%;
}
.cart_menu h3{
    font-size:1.8rem;
    color:#333;
    text-align:center;
    margin-top:0;
    margin-bottom:1rem;
    font-weight:600;
    position:fixed;
}
.cart_items
{
    position:fixed;
    width:90%;
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:3rem;
    max-height:50%;
    overflow-y:auto;
}
.cart_item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:5px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border:1px solid #ecececec;
}
.cart_item_price
{
    color:#ecececec;
}
.sidebar_footer
{
    position:absolute;
    bottom:10px;
    width:88%;
}
.total_amount
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border:2px solid #ecececec;
    padding:15px 10px;
    margin-bottom:-1rem;
}
.cart_total
{
    font-size:16px;
    font-weight:900;
}
.checkout_btn{
    margin:0 auto;
    margin-top:2rem;
}
.remove-btn
{
    cursor:pointer;
    background-color:transparent;
    padding:1rem;
}
@media(min-width: 1024px)
{
    #btn_container
    {
        right:20px;
        top:20px;
    }
    .cart_items{
        margin-top:4rem;
    }
}
.section
{
    margin:20px;
    padding-top:20px;
    display:flex;
    justify-content:center;
    gap:10%;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.section img{
    width:200px;
    height:120px;
} 
.part svg{
    width:30px;
    height:30px;
    gap:20px;
}
.footer
{
   margin:20px;
   justify-content:center;
   display:flex;
   gap:15%;
}
.footer ul
{
    display:flex;
    gap:20px;
    font-size:22px;
}
.search-bar
{
    max-width:100%;
    margin-bottom:-30px;
}
.search-bar input{
    width:100%;
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}